.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scroll {
  border-bottom: 1px solid #734f96;
  background-color: #fff;
  /* width: 100%; */
}

.link {
}

.link:hover,
.link:focus {
  background-color: #734f96;
  border-color: #734f96;
  transform: scale(1.2);

  .icon {
    fill: #fff;
  }
}
