.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.text {
  cursor: 'pointer';
  padding: 20px;
  border: 1px solid #eb6d0b;
  border-radius: 12px;
  width: 100%;
  background-color: transparent;
}

@media screen and (min-width: 375px) {
  .text {
  }
}

@media screen and (min-width: 768px) {
  .text {
  }
}

@media screen and (min-width: 1440px) {
  .text {
  }
}
