@media screen and (min-width: 1440px) {
  .ContactsContent {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.thumb {
  margin: 0 auto;
  margin-bottom: 16px;
  position: relative;
  background-image: url('../../icons/countur.svg'), url('../../icons/fill.svg');
  background-repeat: no-repeat;

  background-position-x: -1px, 5px;
  background-position-y: 0px, 20px;

  background-size: 290px 370px, 275px 340px;
}

@media screen and (min-width: 375px) {
  .thumb {
    width: 343px;
    background-position-x: -1px, 5px;
    background-position-y: 0px, 20px;

    background-size: 340px 430px, 325px 400px;
  }
}

@media screen and (min-width: 768px) {
  .thumb {
    width: 556px;
    margin-bottom: 24px;
    background-position-x: 65px, 72px;
    background-position-y: 0px, 20px;

    background-size: 380px 490px, 365px 460px;
  }
}

@media screen and (min-width: 1440px) {
  .thumb {
    min-width: 556px;
    background-position-x: 57px, 67px;
    background-position-y: 12px, 30px;
    background-size: 384px 425px, 367px 410px;
  }
}

.img {
  margin: 0 auto;
}

.about {
  line-height: 2;
}
