.wrap {
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .form {
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .form {
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #734f96;
  color: #fff;

  padding: 22px 10px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 100px;

  transition: background-color 350ms ease-in;
}

.button:hover,
.button:focus {
  background-color: #b7b7e9;
}

@media screen and (min-width: 768px) {
  .button {
    width: 332px;
  }
}

@media screen and (max-width: 1439.88px) {
  .inputWrapper {
    width: 100%;
  }
}

.inputMask {
  padding: 10px;
  width: 100%;
  height: 48px;
  border-radius: 100px;
  text-align: center;
  border: 1px solid #734f96;
  outline: none;
}

@media screen and (min-width: 1440px) {
  .inputMask {
    margin: 0 auto;
    width: 600px;
  }
}
