.wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form {
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e5b29;
  color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 100px;
}

@media screen and (min-width: 768px) {
  .button {
    width: 332px;
  }
}

.inputMask {
  padding: 20px 10px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid orange;
  outline: none;
}

@media screen and (min-width: 1440px) {
  .inputMask {
    margin: 0 auto;
    width: 768px;
  }
}
