.wrap {
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form {
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
}

.input {
  padding: 15px;
  min-width: 320px;
  border-radius: 12px;
  border: 1px solid lightblue;
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  min-width: 150px;
  border-radius: 12px;
}

.inputMask {
  padding: 20px 60px;
  text-align: center;
  border-radius: 12px;
  border-color: orange;
  outline: none;
}
