.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: 1px solid #eb6d0b;
  border-radius: 12px;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}
