.logo {
  padding: 20px 0;
  color: #1e5b2a;
  font-family: Yellowtail, cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.03em;

  display: flex;
  gap: 15px;
  align-items: center;
}
