.logo {
  padding: 20px 0;
  color: #734f96;
  font-size: 20px;
  /* font-family: Yellowtail; */
  font-family: 'Marck Script', cursive;
  line-height: normal;
  letter-spacing: 0.02em;

  display: flex;
  /* flex-direction: column; */
  gap: 5px;
  align-items: center;
}

@media screen and (min-width: 375px) {
  .logo {
    font-size: 24px;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 32px;
    flex-direction: row;
    gap: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .logo {
    font-size: 44px;
  }
}
