.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 5px;
  }
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  & .first div,
  .second div {
    border: 1px solid #81a05e;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
    width: 140px;
    height: 100px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    transition: border 350ms ease-in-out, background-color 350ms ease-in-out,
      color 350ms ease-in-out;
  }

  & .first div:hover,
  .first div:focus,
  .second div:hover,
  .second div:focus {
    border: none;
    background-color: #81a05e;
    color: #fff;
  }

  @media screen and (min-width: 375px) {
    & .first div,
    .second div {
      width: 160px;
      height: 100px;
    }
  }

  @media screen and (min-width: 1440px) {
    & .first div,
    .second div {
      width: 290px;
      height: 150px;
    }
  }
}

.rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.third div {
  border: 1px solid #81a05e;
}

.third div,
.forth div {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
  width: 140px;
  height: 100px;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  transition: border 350ms ease-in-out, background-color 350ms ease-in-out,
    color 350ms ease-in-out;
}

.third div:hover,
.third div:focus {
  border: none;
  background-color: #81a05e;
  color: #fff;
}

@media screen and (min-width: 375px) {
  .third div,
  .forth div {
    width: 160px;
    height: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .third div,
  .forth div {
    width: 290px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  .rightSide {
    gap: 20px;
  }
}

#purpose,
#family,
#habits {
  background-color: #db742e;
  color: wheat;

  transition: background-color 350ms ease-in-out, color 350ms ease-in-out,
    border-color 350ms ease-in-out;
}

#talent,
#work,
#selfEsteem {
  margin-top: 20px;
  border: none;
  background-color: #db742e;
  color: wheat;

  transition: background-color 350ms ease-in-out, color 350ms ease-in-out,
    border-color 350ms ease-in-out;
}

#spiritTemperament {
  margin-top: 20px;
}

#purpose:hover,
#purpose:focus,
#family:hover,
#family:focus,
#habits:hover,
#habits:focus,
/* #spiritTemperament:hover,
#spiritTemperament:focus, */
#talent:hover,
#talent:focus,
#work:hover,
#work:focus,
#selfEsteem:hover,
#selfEsteem:focus {
  background-color: transparent;
  border: 1px solid #db742e;
  color: #000;
}

#spirit {
  border: none;
  background-color: #db742e;
  color: wheat;

  margin: 0;
  border-bottom: 2px solid #fff;

  transition: background-color 350ms ease-in-out;
}

#spirit:hover,
#spirit:focus {
  background-color: transparent;
  border: 1px solid #db742e;
  color: #000;
}

#temperament {
  background-color: #db742e;
  color: wheat;
  border: none;
  margin: 0;
}

#temperament:hover,
#temperament:focus {
  background-color: transparent;
  border: 1px solid #db742e;
  color: #000;
}
