.wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  & .first div,
  .second div {
    border: 1px solid #e6e6fa;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;

    font-size: 10px;
    width: 68px;
    height: 68px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    transition: border 350ms ease-in-out, background-color 350ms ease-in-out,
      color 350ms ease-in-out;
  }

  & .first div:hover,
  .first div:focus,
  .second div:hover,
  .second div:focus {
    font-weight: 600;
    border: none;
    background-color: #b7b7e9;
    color: #fff;
  }

  @media screen and (min-width: 375px) {
    & .first div,
    .second div {
      font-size: 12px;

      width: 80px;
      height: 80px;
    }
  }

  @media screen and (min-width: 768px) {
    & .first div,
    .second div {
      font-size: 14px;

      width: 160px;
      height: 100px;
    }
  }

  @media screen and (min-width: 1440px) {
    & .first div,
    .second div {
      font-size: 16px;

      width: 290px;
      height: 150px;
    }
  }
}

.rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.third div {
  border: 1px solid #e6e6fa;
}

.third div,
.forth div {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;

  font-size: 10px;
  width: 68px;
  height: 68px;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  transition: border 350ms ease-in-out, background-color 350ms ease-in-out,
    color 350ms ease-in-out;
}

.third div:hover,
.third div:focus {
  font-weight: 600;
  border: none;
  background-color: #b7b7e9;
  color: #fff;
}

@media screen and (min-width: 375px) {
  .third div,
  .forth div {
    font-size: 12px;

    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .third div,
  .forth div {
    font-size: 14px;

    width: 160px;
    height: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .third div,
  .forth div {
    font-size: 16px;

    width: 290px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  .rightSide {
    gap: 20px;
  }
}

#purpose,
#family,
#habits {
  font-weight: 600;

  font-size: 10px;

  background-color: #b7b7e9;
  color: #fff;

  transition: background-color 350ms ease-in-out, color 350ms ease-in-out,
    border-color 350ms ease-in-out;
}
@media screen and (min-width: 375px) {
  #purpose,
  #family,
  #habits {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  #purpose,
  #family,
  #habits {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  #purpose,
  #family,
  #habits {
    font-size: 16px;
  }
}

#talent,
#work,
#selfEsteem {
  font-size: 10px;
  font-weight: 600;

  margin-top: 20px;
  border: none;
  background-color: #b7b7e9;
  color: #fff;

  transition: background-color 350ms ease-in-out, color 350ms ease-in-out,
    border-color 350ms ease-in-out;
}

@media screen and (min-width: 375px) {
  #talent,
  #work,
  #selfEsteem {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  #talent,
  #work,
  #selfEsteem {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  #talent,
  #work,
  #selfEsteem {
    font-size: 16px;
  }
}

#spiritTemperament {
  margin-top: 20px;
  gap: 2px;
}

#purpose:hover,
#purpose:focus,
#family:hover,
#family:focus,
#habits:hover,
#habits:focus,
/* #spiritTemperament:hover,
#spiritTemperament:focus, */
#talent:hover,
#talent:focus,
#work:hover,
#work:focus,
#selfEsteem:hover,
#selfEsteem:focus {
  background-color: transparent;
  border: 1px solid #e6e6fa;
  color: #000;
}

#spirit {
  font-size: 10px;
  font-weight: 600;

  border: none;
  background-color: #b7b7e9;
  color: #fff;

  margin: 0;
  border-bottom: 1px solid #fff;

  transition: background-color 350ms ease-in-out;
}

#spirit:hover,
#spirit:focus {
  background-color: transparent;
  border: 1px solid #e6e6fa;
  color: #000;
}

#temperament {
  font-size: 10px;
  font-weight: 600;

  background-color: #b7b7e9;
  color: #fff;
  border: none;
  margin: 0;
}

#temperament:hover,
#temperament:focus {
  background-color: transparent;
  border: 1px solid #e6e6fa;
  color: #000;
}

@media screen and (min-width: 375px) {
  #temperament,
  #spirit {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  #temperament,
  #spirit {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  #temperament,
  #spirit {
    font-size: 16px;
  }
}
