.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link {
  display: block;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.03em;
  transition: transform 250ms ease-out;
}

.link:hover,
.link:focus {
  transform: scale(1.2);
}

.link.active {
  color: #b7b3ae;
  transform: scale(1.2);
}
