.action {
  padding: 30px;
  border: 1px solid orange;
  border-radius: 12px;
  margin-bottom: 30px;
}

.text {
  line-height: 31px;
  margin-bottom: 40px;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 15px 25px;
  background-color: skyblue;
  border: none;
  border-radius: 12px;
}
