.action {
  padding: 30px;
  border: 1px solid #734f96;
  border-radius: 12px;
}

.text {
  line-height: 31px;
  margin-bottom: 20px;
}

.link {
  font-size: 14px;
  background-color: #734f96;
}

.link:hover,
.link:focus {
  background-color: #b7b7e9;
}

@media screen and (min-width: 375px) {
  .link {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .link {
    margin: 0 auto;
  }
}
