.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  margin-bottom: 30px;
}

.wrapper div {
  border-radius: 4px;
}

.leftTop {
  margin-bottom: 20px;
}

.leftTopFirst,
.leftTopSecond,
.leftTopThird {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.leftTopFirst div,
.leftTopSecond div,
.leftTopThird div,
.leftDown div,
.rightTop div,
.rightDown div {
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 375px) {
  .leftTopFirst div,
  .leftTopSecond div,
  .leftTopThird div,
  .leftDown div,
  .rightTop div,
  .rightDown div {
  }
}

@media screen and (min-width: 768px) {
  .leftTopFirst div,
  .leftTopSecond div,
  .leftTopThird div,
  .leftDown div,
  .rightTop div,
  .rightDown div {
    width: 160px;
    height: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .leftTopFirst div,
  .leftTopSecond div,
  .leftTopThird div,
  .leftDown div,
  .rightTop div,
  .rightDown div {
    width: 290px;
    height: 150px;
  }
}

.leftDown {
  display: flex;
  gap: 5px;
}

.right {
}

.rightTop {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
.rightDown {
}
